<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="APP-LOG" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR:-logs}/app.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ERROR-LOG" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR:-logs}/error.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>
    <appender name="APP-LOG-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="APP-LOG"/>
    </appender>

    <appender name="ERROR-LOG-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ERROR-LOG"/>
    </appender>

    <appender name="HEALTHCHECK-LOG" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR:-logs}/HealthCheck.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.elasticsearch" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="org.hibernate.SQL" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="com.ning.http.client" level="INFO"/>
    <logger name="com.lambdaworks.redis" level="INFO"/>
    <logger name="org.asynchttpclient" level="INFO"/>

    <!-- Set additivity="false" to avoid polluting root appender -->
    <logger name="HealthCheck" level="ALL" additivity="false">
        <appender-ref ref="HEALTHCHECK-LOG"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="APP-LOG-ASYNC"/>
        <appender-ref ref="ERROR-LOG"/>
    </root>
</configuration>